<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WonderLust</title>
</head>
<body>
    <h1>Create new Listing</h1>
    <form method="POST" action="/listings">
            <input placeholder="Title" name="title" type="text"/><br><br>
            <textarea placeholder="Description" rows="5" cols="50"></textarea><br><br>
            <textarea placeholder="Image URL/LINK" rows="1" cols="50"></textarea><br><br>
            <input placeholder="Price" name="price" type="number" /><br><br>
            <input placeholder="Location" name="location" type="text" /><br><br>
            <input placeholder="Country" name="country" type="text" /><br><br>
        <button>Add</button>
    </form>
    
</body>
</html>