<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Chat</title>
</head>
<body>
    <h2>Chat Creation</h2>
    <form method="POST" action="/chats">
        <input placeholder="Who are you?" name="from" /><br><br><br>
        <textarea placeholder="Type Message here.." name="message" rows="5" cols="20"></textarea><br><br><br>
        <input placeholder="Add reciever" name="to" /><br><br><br>
        <button>Send</button>
    </form>

    
</body>
</html>